<template name="calendarSidebar">

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!-- <li class="header"></li> -->
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Calendar 1</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Calendar 2</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
      </ul>
    </section>
  </aside>

</template>