<template name="calendarSidebar">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!-- <li class="header"></li> -->
        {{#each calendars}}
        <li>
          <a href="#">
            <i class="fa fa-calendar"></i>
            <span>{{title}}</span>
              <span class="pull-right-container">
              <div class="operate-box">
              {{#if isCalendarOwner}}
                <i class="fa fa-edit calendar-edit"></i>&nbsp;&nbsp;
                <i class="fa fa-trash-o calendar-delete"></i>
              {{else}}
                <i class="fa fa-info-circle calendar-show"></i>
              {{/if}}
              </div>
              </span>
          </a>
        </li>
        {{/each}}
      </ul>

      <div class="sidebar-bottom">
        <a href="#" class="calendar-add">
          <i class="fa fa-plus"><span>&nbsp;&nbsp;
          {{_ "calendar_add_calendar"}}</span></i>
        </a>
      </div>
    </section>

  </aside>
  {{#afModal class="btn btn-primary calendar-add hidden" collection="Calendars" operation="insert"}}
    {{_ "calendar_add_calendar"}}
  {{/afModal}}

  {{#afModal class="btn btn-primary calendar-edit hidden" collection="Calendars" operation="update"}}
    {{_ "calendar_edit_calendar"}}
  {{/afModal}}

  {{#afModal class="btn btn-primary calendar-show hidden" collection="Calendars" operation="update"}}
    {{_ "calendar_info_calendar"}}
  {{/afModal}}

</template>