#calendar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	.fc-listWeek-view{
		.fc-list-table{
			.fc-list-header{
				font-size: 15px;
				font-weight: bold;
			}
			td.fc-list-item-time.fc-widget-content{
				width: 5%;
			}
			td.fc-list-item-title.fc-widget-content{
				width: 40%;
				.fc-event-dot{
					margin-right: 10px;
				}
			}
			td.fc-list-item-site.fc-widget-content{
				width: 20%;
			}
			td.fc-list-item-participation.fc-widget-content{
				width: 35%;
			}
			@media (max-width: 420px){
				/*手机竖屏时不显示表头并且只显示两列*/
				tr:nth-child(1){
					display:none;
				}
				tr td:nth-child(3),tr td:nth-child(4){
					display:none;
				}
			}
		}
	}
	.fc-header-toolbar{
		padding: 0px 10px;
		margin-top: 8px;
		margin-bottom: 0px;

		background: transparent;
		@media (max-width: 767px){
			margin: 6px 0;
		}
		@media (max-width: 420px){
			.fc-agendaDay-button{
				display:none;
			}
		}
		.fc-center{
			h2{
				font-size: 18px;
				line-height: 30px;
				vertical-align: middle;
			}
			@media (max-width: 767px){
				button,h2{
					float: none;
					display: inline-block;
					padding: 0px;
				}
			}
		}
		.fc-prev-button,.fc-next-button{
			background: transparent;
			border: none;
			box-shadow: none;
		}
		&.fc-toolbar{
			> * > *{
				margin-left: 0px;
			}
		}
		.btn-add-event{
			margin-right: 6px;
		}
	}
	.fc-view-container{
		background: #fff;
		border-top: 1px #c3c3c3 solid;
		.fc-day-grid-event,.fc-time-grid-event{
			@media (max-width: 767px){
				.fc-time{
					display: none;
				}
			}
		}
	}
}

.btn.event-add, .btn.event-edit {
	display: none;
}
.fc-agendaWeek-view{
	.fc-day-grid.fc-unselectable {
		border-right-width: 1px;
	}
}

td.fc-event-container a div{
	span.fc-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		width: 80%;
		vertical-align: top;
	}
}