#event_detail_modal{
	div.modal-body{
		position: relative;
		padding: 0px 0px 0px 0px;
	}
}

#eventsForm{
	div.event-edit.false{
		display:none;
	}
}

div.feadback-result{
	table{
		width: 100%;
		margin-left: 1%;
	}
	margin-left:10px;
	margin-right: 10px;

}

div.members-list{
	max-height: 250px;
	overflow: auto;
	ul li div.descrip-comments{
	    margin-bottom: 2px;
	    margin-left: 10px;
    	overflow-wrap: break-word;
    	color: #888;
	    font-size: 12px;
	    padding: 0 0 0 6px;
	}
}

div.eventForm {
	margin-left: 1%;
	margin-right: 1%;
}

div.invite-box.false{
	display:none;
}
div.invite-box{
	span.pull-left{
		width: 80%;
	}
	span.pull-right{
		margin-top: 10px;
		margin-right: 5px;
	}
}

div.invite-info-box.true{
	display:none;
}

.event-members li{
	a span i.delete-members{
		display:none;
	}
}

.event-members li.true:hover{
	a span i.attendees{
		display:none;
	}
	a span i.delete-members{
		display: inline;
	}
}

/*不确定 fa-question*/
.event-members li{
	a span i.TENTATIVE:before{
		content: "\f128";
	}
}

/*接受：fa-check*/
.event-members li{
	a span i.ACCEPTED:before{
		content: "\f00c";
	}
}

/*拒绝：*/
.event-members li{
	a span i.DECLINED:before{
		content: "\f05e";
	}
}

/*待回复：
.event-members li{
	a span i.NEEDS-ACTION:before{
		content: "\f017";
	}
}*/
	
.ep-rc-title{
	padding: 2px;
}

div.feadback{
	margin-top: 10px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
	table{
		cellpadding:0;
		cellspacing:0;
		border:0;
		width:100%;
		tbody tr td.control-label{
			display: inline-block;
			max-width: 100%;
			margin-bottom: 5px;
			font-weight: bold;
		}
		tbody tr td{
			float:left;
			padding-right:0px;
			textarea{
				overflow: auto;
				float: right;
				width: 100%;
				color:black;
				margin-right: 10px;
			}
		}





	}

span{
	label.accepted.ACCEPTED{
		color: lightgray;
	}
	label.needs-action.NEEDS-ACTION{
		color: lightgray;
	}
	label.declined.DECLINED{
		color: lightgray;
	}
}


/*	width:250px;
	margin:10px 10px 10px 20px;
	span{
		font-size: 18px;
	}
	span{
		label.accepted.ACCEPTED{
			color: lightgray;
		}
		label.needs-action.NEEDS-ACTION{
			color: lightgray;
		}
		label.declined.DECLINED{
			color: lightgray;
		}
	}*/
}