#calendar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
	.fc-header-toolbar{
		padding: 8px 10px 12px 10px;
		margin-top: 0.8em;
		margin-bottom: 0px;
		.fc-center{
			h2{
				font-size: 18px;
				line-height: 32px;
			}
		}
	}
}

.btn.event-add, .btn.event-edit {
	display: none;
}
.fc-agendaWeek-view{
	.fc-day-grid.fc-unselectable {
 		border-right-width: 1px;
	}
}

td.fc-event-container a div{
	span.fc-time{
		float:right;
	}
}