#calendar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ecf0f5;
	.fc-listWeek-view{
		.btn-print{
			float: right;
			margin-right: 10px;
		}
		.fc-list-table{
			.fc-list-header{
				font-size: 15px;
				font-weight: bold;
			}
			tr.fc-list-item{
				cursor: pointer;
			}
			tr.fc-list-heading{
				.fc-list-heading-main{
					float: none;
					margin-left: 10px;
				}
				.fc-list-heading-alt{
					float: left;
				}
			}
			td.fc-list-item-time.fc-widget-content{
				width: 5%;
			}
			td.fc-list-item-title.fc-widget-content{
				width: 40%;
				.fc-event-dot{
					margin-right: 10px;
				}
			}
			td.fc-list-item-site.fc-widget-content{
				width: 20%;
			}
			td.fc-list-item-participation.fc-widget-content{
				width: 35%;
			}
			@media (max-width: 420px){
				/*手机竖屏时不显示表头并且只显示两列*/
				tr:nth-child(1){
					display:none;
				}
				tr td:nth-child(3),tr td:nth-child(4){
					display:none;
				}
			}
		}
	}
	.fc-header-toolbar{
		padding: 0px 10px;
		margin-top: 8px;
		margin-bottom: 0px;

		background: transparent;
		@media (max-width: 767px){
			margin: 0px;
			padding: 10px 10px;
		}
		@media (max-width: 420px){
			.fc-month-button{
				display:none;
			}
			.fc-listWeek-button{
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
		.fc-center{
			h2{
				font-size: 18px;
				line-height: 30px;
				vertical-align: middle;
			}
			.fix-title{
				display: none;
				float: none;
			}
			@media (max-width: 767px){
				button,h2{
					float: none;
					display: inline-block;
					padding: 0px;
				}
			}
			@media (max-width: 420px){
				h2{
					display: none;
				}
				.fix-title{
					display: inline-block;
					font-size: 17px;
					line-height: 30px;
					vertical-align: middle;
					font-weight: bold;
				}
			}
		}
		.fc-prev-button,.fc-next-button{
			background: transparent;
			border: none;
			box-shadow: none;
			@media (max-width: 420px){
				display: none!important;
			}
		}
		&.fc-toolbar{
			> * > *{
				margin-left: 0px;
			}
		}
		.btn-add-event{
			margin-right: 6px;
		}
	}
	.fc-view-container{
		background: #eee;
		@media (min-width: 767px){
			// border-top: 1px #c3c3c3 solid;
		}
		.fc-view{
			background: #fff;
			&.transform-fix{
				-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
				-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
				-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
				transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
			}
			.touch &{
				-webkit-touch-callout:none;
				-webkit-user-select:none;
				-khtml-user-select:none;
				-moz-user-select:none;
				-ms-user-select:none;
				user-select:none;
			}
		}
		.fc-day-grid-event,.fc-time-grid-event{
			@media (max-width: 767px){
				.fc-time{
					display: none;
				}
			}
		}
	}
	.swipe-shadow-box{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		.ion{
			position: absolute;
			top: 50%;
			margin-top: 10px;
			display: none;
			color: #a3a3a3;
			font-size: 24px;
		}
		&.swipe-left{
			.ion{
				left: 15px;
			}
		}
		&.swipe-right{
			.ion{
				right: 15px;
			}
		}
		&.left-icon{
			.ion.left-icon{
				display:inline;
			}
		}
		&.right-icon{
			.ion.right-icon{
				display:inline;
			}
		}
	}
	.btn-prev-time-up,.btn-next-time-down{
		height: 30px;
		line-height: 30px;
		border-radius: 0;
		border-top: 1px rgb(221,221,221) solid;
		border-bottom: 1px rgb(221,221,221) solid;
		margin: 2px 0px;
		color: #666;
		.ion{
			margin-right: 6px;
		}
	}
}

.btn.event-add, .btn.event-edit {
	display: none;
}
.fc-agendaWeek-view{
	.fc-day-grid.fc-unselectable {
		border-right-width: 1px;
	}
}

td.fc-event-container a div{
	span.fc-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		width: 80%;
		vertical-align: top;
	}
}

.steedos-calendar{
	@media print{
		.content-wrapper{
			border: none;
			.weui-tabbar{
				display: none;
			}
		}
		.fc-toolbar.fc-header-toolbar{
			.fc-right{
				display: none;
			}
			.fc-left{
				display: none;
			}
			.fc-center{
				span.fc-icon.fc-icon-left-single-arrow{
					display: none;
				}
				span.fc-icon.fc-icon-right-single-arrow{
					display: none;
				}
			}
		}
		.fc-listWeek-view{
			.btn-print{
				display: none;
			}
		}
		.fc-list-item-title.fc-widget-content{
			.fc-event-dot{
				display: none;
			}
		}
	}
}

@media (max-width: 767px){
	#calendar {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 48px;
		background-color: #ecf0f5;
	}
}