.event-pending-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ecf0f5;
	.event-pending-header{
		text-align: center;
		height: 43px;
		.btn-default{
			float: left;
			margin-top: 5px;
			margin-left: 5px;
		}
		.header{
			display: inline-block;
			height: 43px;
			position: absolute;
			left: 70px;
			right: 70px;
			h2{
				margin: 0;
				font-size: 14px;
				line-height: 44px;
				vertical-align: middle;
				height: 44px;
			}
		}
	}
	.event-pending-body{
		position: absolute;
		top: 51px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		overflow: auto;
		.tabular-container{
			position: relative;
			.form-inline{
				display: grid;
				.collapsed{
					thead{
						tr{
							th:first-child{
								padding-left: 22px;
							}
						}
					}
					tbody{
						tr{
							td{
								.ion.need-action{
									left: 6px;
								}
								.event-title{
									padding-left: 17px;
								}
							}
						}
					}
				}
				div.row:first-child{
					background: rgba(238, 238, 238, 0.72);
				}
				div.dataTables_filter label{
					position: relative;
					margin-top: 8px;
					right: 10px;
					margin-bottom: 7px;
				}
				div.dataTables_paginate{
					margin-right: 15px
				}
				div.row{
					margin: 0;
					.col-sm-12{
						padding: 0px;
					}
				}
				.datatable-events{
					thead th {
						padding-bottom: 10px;
					}
					thead th:first-child{
						padding-left: 40px;
						min-width: 150px;
					}
					tr > td {
						padding: 8px 5px;
						border-bottom: 1px solid #E8E8E8;
						border-top: 0px;
						white-space: normal;
						.need-action{
							display: inline-block;
							position: absolute;
							margin-top: 5px;
							left: 22px;
							color: #1f95ec;
							font-size: 90%;
						}
						.event-title{
							padding-left: 35px;
						}
					}
				}
			}
		}
	}
	@media (max-width: 767px){
		.event-pending-body{
			margin-bottom: 50px;
		}
	}
}