.universe-selectize.selectize-control.multi .selectize-input {
    height: auto;
}

.content-wrapper{
	#calendar{
		.fc-header-toolbar{
			padding: 8px 10px 12px 10px;
			margin-top: 0.8em;
			margin-bottom: 0px;
			.fc-center{
				h2{
					font-size: 18px;
    				line-height: 32px;
				}
			}
		}
	}
}