#busyPending_modal{
	.modal-body{
		.weui-cell__bd{
			p{
				margin: 0;
			}
		}
		.weui-cell__ft{
			.weui-btn{
				position: relative;
				margin-top: 0px;
				top: 3px;
			}
			.weui-btn.btn-accept{
				margin-right: 15px;
			}
		}
	}
}