.sidebar {
	.sidebar-bottom{
		position: absolute;
	    bottom: 0px;
		left: 0;
		right: 0;
		margin: auto auto 10px 20px;
	}
}
.sidebar-menu li:hover{
	a span .operate-box{
		visibility:visible;
	}
}
.sidebar-menu li{
	a span .operate-box{
		visibility:hidden;
	}
}

.pull-left-title{
	.check{
		min-width: 18px;
    	height: 18px;
    	float:left;
	}
}