div.div-resources{
	background: rgba(0, 0, 0, 0) none repeat scroll !important;
    margin-left: 3px;
    margin-right: 3px;
}


.sidebar {
	div.sidebar-bottom{
		position: absolute;
	    bottom: 0px;
		left: 0;
		right: 0;
		margin: auto auto 10px 20px;
		a{
			color: #3c8dbc;
		}
	}
}
.sidebar-menu li:hover{
	a span .operate-box{
		visibility:visible;
	}
}
.sidebar-menu li{
	a span .operate-box{
		visibility:hidden;
	}
}

.pull-left-title{
	.check{
		min-width: 18px;
    	height: 18px;
    	float:left;
	}
}
div.box{
	.alert{
		padding: 10px 10px 25px 10px;
    	margin-bottom: 10px;
    	border: 0px;
	}
}
span.pull-right{
	.control-label{
		margin-left:5px;
	}
}
